html {
  background-color: #eee;
  font-family: "Sedgwick Ave Display", cursive;
  font-family: "Special Elite", cursive;
}

.masthead {
  background-color: #eee;
  color: #000;
}

.deathlogo {
  width: 15%;
}

.logo {
  text-align: center;
}

.logo-text {
  display: inline-block;
  width: 5em;
}

.nav {
  text-align: center;
}

.nav li {
  list-style-type: none;
  margin: 0;
}

.nav a {
  color: #000;
  text-decoration: none;
  font-family: "Special Elite", cursive;
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.nav a:hover span {
  color: #8b0101;
}

.navthings {
  margin-bottom: 2em;
}

.banner-icon {
  max-width: 6%;
  margin-bottom: 3em;
  width: 100%;
  text-align: center;
}

.images {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.banner-image {
  width: 50%;
  left: 49%;
  transform: translateX(-50%);
  position: relative;
}

.footer-text {
  text-align: center;
  padding-top: 1em;
}

.btn {
  background-color: #580000;
  color: #eee;
  padding: .5rem;
  border-radius: 2em;
  margin-top: 1rem;
  text-align: center;
  margin: 0 auto;
}

.chelle-btn {
  margin: 0 auto;
  text-align: center;
}

.btn-banner {
  color: #eee;
}

.btn-banner:hover,
.btn-banner:focus {
  background-color: #eee;
  color: #580000;
}

.footer {
  background-color: #eee;
  color: #580000;
}

.header-two {
  font-family: "Bebas Neue", cursive;
  color: #000;
}

.bottom-text {
  top: 0;
}

.main-banner {
  position: relative;
}

.tests {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #580000;
  padding: 1em;
  margin-left: 5em;
  margin-right: 5rem;
}

.quotes {
  margin-right: 3rem;
  margin-left: 3rem;
}

.quotes-2 {
  margin-right: 3rem;
  margin-left: 3rem;
}

.quotes-3 {
  margin-right: 3rem;
  margin-left: 3rem;
}

.banner-image {
  /* width: 50%;
  left: 49%;
  transform: translateX(-50%);
  position: relative; */
  position: relative;
}

.main-banner {
  background-image: url("../images/apocolypse-hallway.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

caption {
  color: #fff;
}

.paragraph {
  color: #580000;
}

.img-flex {
  display: flex;
  width: 100%;
  margin: 0;
}

.skip-links {
  margin: 0;
  padding: 0;
}

.skip-links > li::before {
  content: none; /* Remove the bullets if nice lists is selected */
}

.skip-links a,
.skip-links button {
  padding: .5em .75em;
  position: absolute;
  top: -10em;
  z-index: 10000; /* To make sure they're always on top */
  background-color: #000;
  border: 0;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus,
.skip-links button:focus {
  outline-offset: 3px;
  top: 0;
}

body {
  margin: 0;
}

.intro {
  border-top: #580000 .2rem solid;
  border-bottom: #580000 .2rem solid;
  padding: 1em;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
}

.banner-img {
  width: 100%;
}

textarea {
  min-height: 10em;
}

.bottom-form {
  grid-template-rows: 1fr 1fr;
}

input[type="text"], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #580000;
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.column-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.intro-img {
  display: grid;
  width: 100%;
  grid-column: 1;
}

.intro-death {
  grid-column: 2;
  font-size: .8232rem;
  line-height: 1.3rem;
}

.another-title {
  margin-left: 1rem;
}

.warning {
  color: #8b0101;
}

.warning-2 {
  color: #8b0101;
  margin-top: 2rem;
}

.text-underneath {
  margin-left: 2em;
  margin-top: 4em;
}

.wrapper {
  margin: 0 auto;
  background-image: url("../images/spooky-car.jpg");
  background-size: cover;
  background-color: #000;
  background-position: center center;
  display: grid;
  grid-template-rows: 1fr;
}

.cards {
  padding: 0;
  list-style-type: none;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  margin-left: 5em;
}

.cards li {
  display: inline-block;
  margin: 0 .5em 1em;
  margin-top: 3rem;
  max-width: 15em;
  padding: 1em;
  background-color: #eee;
  border: 3px solid #eee;
  border-radius: 10px;
}

.cards img {
  display: block;
  margin: 0 auto 1rem;
}

.cards strong {
  display: block;
  margin-bottom: .5rem;
  text-align: center;
  font-size: 2rem;
}

.cards dl {
  margin-bottom: 1rem;
}

.cards dt {
  display: block;
  text-align: center;
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 4rem;
  color: #8b0101;
}

.cards dd {
  display: block;
  margin: 0;
  min-width: 9em;
  text-align: center;
}

.cards div {
  text-align: center;
}

.cards a {
  display: inline-block;
  padding: .5em .75em;
  border-radius: 4px;
  text-decoration: none;
  background-color: #580000;
  color: #eee;
}

.cards a:hover {
  background-color: #eee;
  color: #580000;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  .intro-death {
    font-size: .8232rem;
    line-height: 1.3rem;
  }

  .quotes, .quotes-2, .quotes-3 {
    font-size: .7715rem;
    line-height: 1.3rem;
    margin-left: 0;
  }

  h1,
  p {
    margin: 0 0 1.3rem;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .cards {
    margin-left: 7em;
  }

  .intro-death {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .intro-img {
    display: grid;
    width: 100%;
    grid-column: 1;
  }

  .quotes, .quotes-2, .quotes-3 {
    font-size: .7715rem;
    line-height: 1.3rem;
    margin-left: 0;
  }

  h1,
  p {
    margin: 0 0 1.4rem;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .cards {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 1em;
    padding: 2em;
  }

  .wrapper {
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .border-thingz {
    border-top: #580000 .2rem solid;
    border-bottom: #580000 .2rem solid;
    margin-left: 2em;
    margin-right: 2em;
  }

  h1,
  p {
    margin: 0 0 1.5rem;
  }

}
