html {
  background-color: #EEEEEE;
  font-family: 'Sedgwick Ave Display', cursive;
  font-family: 'Special Elite', cursive;
}

.masthead {
  background-color: #EEEEEE;
  color: #000000;
}

.deathlogo {
  width: 15%;
}

.logo {
  text-align: center;
}

.logo-text {
  display: inline-block;
  width: 5em;
}

.nav {
  text-align: center;
}

.nav li {
  list-style-type: none;
  margin-top: 0;
}

.nav a {
  color: #000000;
  text-decoration: none;
  font-family: 'Special Elite', cursive;
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}


.nav a:hover span {
  color: #8B0101;
}


.banner-image {
  width: 50%;
  left: 49%;
  transform: translateX(-50%);
  position: relative;
}

.footer-text {
  text-align: center;
  padding-top: 1em;
}
.btn {
  background-color: #580000;
  color: #EEEEEE;
  padding: .5rem;
  border-radius: 2em;
  margin-top: 1rem;
}

.btn-banner {
  color: #EEEEEE;
}

.btn-banner:hover,
.btn-banner:focus {
  background-color: #EEEEEE;
  color: #580000;
}

.footer {
  background-color: #EEEEEE;
  color: #580000;
}

.header-two {
  font-family: "Bebas Neue", cursive;
  color: #000;
}

.bottom-text {
  top: 0;
}

.main-banner {
  position: relative;
}

.banner-image {
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

caption {
  color: #fff;
}

.paragraph {
  color: #580000;
}

.img-flex {
  display: flex;
  width: 100%;
  margin: 0;
}

.skip-links {
  margin: 0;
  padding: 0;
}

.skip-links > li::before {
  content: none; /* Remove the bullets if nice lists is selected */
}

.skip-links a,
.skip-links button {
  padding: .5em .75em;
  position: absolute;
  top: -10em;
  z-index: 10000; /* To make sure they're always on top */
  background-color: #000;
  border: 0;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus,
.skip-links button:focus {
  outline-offset: 3px;
  top: 0;
}

body {
  margin: 0;
}
