html {
  background-color: #EEEEEE;
  font-family: 'Sedgwick Ave Display', cursive;
  font-family: 'Special Elite', cursive;
}

.masthead {
  background-color: #EEEEEE;
  color: #000000;
}

.deathlogo {
  width: 15%;
}

.logo {
  text-align: center;
}

.logo-text {
  display: inline-block;
  width: 5em;
}

.nav {
  text-align: center;
}

.nav li {
  list-style-type: none;
}

.nav a {
  color: #000000;
  text-decoration: none;
  font-family: 'Special Elite', cursive;
}

.nav a:hover span {
  color: #8B0101;
}

.banner-image img {
  width: 120%;
}

.banner-image {
  width: 50%;
  left: 49%;
  transform: translateX(-50%);
  position: relative;
}

.footer-text {
  text-align: center;
}
.btn {
  background-color: #580000;
  color: #000;
  left: 10em;
}

.btn-banner {
  color: #000;
}

.btn-banner:hover,
.btn-banner:focus {
  background-color: #EEEEEE;
  color: #580000;
}

.footer {
  background-color: #EEEEEE;
  color: #580000;
}

.header-two {
  font-family: "Bebas Neue", cursive;
  color: #000;
}

.bottom-text {
  top: 0;
}

.banner-scream-img {
  overflow: hidden;
  position: relative;
  width: 100%;
  line-height: 0;
  padding-bottom: 0;
  margin: 0;
}

.banner-content {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  color: #fff;
  text-align: center;
}

.banner-img {
  height: 100vh;
  width: 100%;
}

.signupbb {
  color: #0fcdd6;
}

caption {
  color: #fff;
}

.dj {
  width: 100%;
}

.form-stuff {
  color: #0fcdd6;
}

.paragraph {
  color: #580000;
}

.img-flex {
  display: block;
  width: 100%;
}

.skip-links {
  margin: 0;
  padding: 0;
}

.skip-links > li::before {
  content: none; /* Remove the bullets if nice lists is selected */
}

.skip-links a,
.skip-links button {
  padding: .5em .75em;
  position: absolute;
  top: -10em;
  z-index: 10000; /* To make sure they're always on top */
  background-color: #000;
  border: 0;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus,
.skip-links button:focus {
  outline-offset: 3px;
  top: 0;
}
